<h2>Todo list</h2>
{{#if todos.length}}

<ul>{{#each todos}}
    <li class ="todos">
    <label>
        {{#if completed }}
        <input type="checkout"checked >
        <span class="completed">{{title}}</span>
        {{else}}
        <input type="checkbox">
        <span>{{title}}</span>
        {{/if}}
            <button class="btn-small"Put>
            </button>
      

    </label>

</li>
{{/each}}</ul>


{{else}}
<p>No todos></p>
{{/if}}